@import "normalize";

html{
    @media all and (min-width: 62.5rem) {
        font-size: (100vw / 85.25 * 2);
    }
}

.box-header{
  width: 100%;
  background: red;
  min-height: 6.25rem;
}
.box-content{
  display: flex;
  justify-content: space-between;
  .box-main{
    background: #445588;
    min-height: 18.75rem;
    flex: 3 25rem;
    padding: 1.25rem;
  }
  .article-default{
    background: green;
    width: 100%;
    min-height: 12.5rem;
    margin-bottom: 1.25rem;
  }
  .box-news{
    background: #0405a0;
    width: 100%;
    min-height: 6.25rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .news{
      background: #a09d2d;
      max-width: 6.25rem;
      width: 100%;
      max-height: 6.25rem;
      height: 6.25rem;
      margin: 0.125rem;
    }
  }
  .box-aside{
    background: #880a3a;
    min-height: 18.75rem;
    flex: 1 18.75rem;
  }
}
.box-footer{
  width: 100%;
  background: red;
  min-height: 6.25rem;
}
