.grid-a {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 8em;
   }
   
.grid-b {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 8em;
}
   
.a1 {
    background: red;
}
   
.a2 {
    background: yellow;
}

.b1 {
    background: greenyellow;
}

.b2 {
    background: blue;
}

.b3 {
    background: magenta;
}

.b4 {
    background: cyan;
}